<h1 class="page-header"><%= @customer.company_name %> details</h1>

<%= @customer.abn %>
<%= @customer.address %>
<%= @customer.suburb %>
<%= @customer.email %>
<%= @customer.phone %>

<%= link_to 'All Customers', customers_path %> |
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Delete', customer_path(@customer), method: :destroy, data: {confirm: 'Are you sure?'} %>
